body {
    min-height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
}

form {
    padding: 20px;
    border: 1px solid black;
}

input,
select {
    padding: 10px;
    font-size: 16px;
}